/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

******************************************************************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif-bold;
  text-decoration: none;
  color: $black;
  font-weight: normal;
  padding: 0.5em 1.4em;
  border-radius: 0px;
  border: 1px solid $black;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 140ms;
  letter-spacing: 0px;
  @include ms-respond(font-size, -1);

  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  } 

  &:active {
    top: 1px; // adds a tiny hop to the click
  } 

}