/******************************************************************
Site Name: daskannwas
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Typography

******************************************************************/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/

$headline:        'Rubik', sans-serif;
$body:        	  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


@mixin font($style) {
	@if $style == 'thin' {
		font-weight: 100;
	}

	@if $style == 'light' {
		font-weight: 200;
	}

	@if $style == 'normal' {
		font-weight: normal;
	}

	@if $style == 'medium' {
		font-weight: 500;
	}

	@if $style == 'bold' {
		font-weight: 700;
	}

	@if $style == 'italic' {
		font-style: italic;
	}

}

@mixin textantialiasing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
