/******************************************************************
Site Name: mpag.com
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Variables

******************************************************************/
$mobile-landscape: 736px;
$tablet:           960px;
$desktop:          1280px;
$widescreen:       1900px;
$extralarge:       2500px;

$site-width: $desktop;
$site-columns: 12;

$black: #000;
$white: #fff;

$link-color: $black;
$link-hover: darken($link-color, 9%);