/******************************************************************************/
/******************************************************************************/
/* Site specific base  */

/*********************
MEDIA QUERY HOOK FOR JS
*********************/
html:before {
  content: "extralarge";
  display: none; /* Prevent from displaying. */
}

@media (max-width: $extralarge) {
  html:before {
    content: "widescreen";
  }
}

@media (max-width: $widescreen) {
  html:before {
    content: "desktop";
  }
}

@media (max-width: $desktop) {
  html:before {
    content: "tablet";
  }
}

@media (max-width: $mobile-landscape) {
  html:before {
    content: "mobile";
  }
}

/*********************
DEFAULTS
*********************/

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
  }  

  /* mobile tap color */
  &:link {
    /*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }  
}

iframe {
  max-width: 100%;
}

em,i {
  font-style: normal;
  font-family: $sans-serif-italic;
}

b,strong {
  font-weight: 400;
  font-family: $sans-serif-bold;
}

p,ol,ul {
  line-height: 1.5;
  margin-top: 0;
}

ul,ol {
  padding-left: 1.1em;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

sub,sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

hr,.hr {
  border: 1px solid;
  margin: -1px 0;
}


/*********************
WORDPRESS DEFAULTS
*********************/

#wp-admin-bar-new-content,
#wp-admin-bar-comments,
#wp-admin-bar-wp-logo,
#wp-admin-bar-customize,
#wp-admin-bar-updates {
  display: none;
}
