/******************************************************************
Site Name: mpag.com
Author: Yacine Belarbi @ studioyacine.ch

Stylesheet: Typography

******************************************************************/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/

// font stacks
$sans-serif:        -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$sans-serif-bold:   -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$sans-serif-italic: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/******************************************************************
H1, H2, H3, H4, H5, H6 STYLES
******************************************************************/

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5 {
  font-family: $sans-serif-bold;
  text-rendering: optimizelegibility;
  font-weight: 400;
  color: #000;
  margin-top: 0;

  a {
    text-decoration: none;
  }
}

h1,.h1 {
  @include ms-respond(font-size, 4);
}
h2,.h2 {
  @include ms-respond(font-size, 3);
}
h3,.h3 {
  @include ms-respond(font-size, 2);
}
h4,.h4 {
  @include ms-respond(font-size, 1);
}
h5,.h5 {
  @include ms-respond(font-size, 1);
}
h6,.h6 {
  @include ms-respond(font-size, 0);
}