/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination ul {
  font-family: $headline;
  display: flex;
  justify-content: center;
  padding: 2rem 0 1rem;

  li + li {
      margin-left: 1rem;
  }

  a,span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;        
      @include above-mobile {
          width: 45px;
          height: 45px;
      }
  }

  a:hover {
      text-decoration: underline;
  }

  span {
      border-radius: 8px;
  }
}